body {
  background: #F0F0F0;
}

/* custom in here */
.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #198754;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%,
  25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%,
  50% {
    transform: scale(1) rotate(180deg);
  }

  70%,
  75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%,
  100% {
    transform: scale(1) rotate(360deg);
  }
}

/* .btn-interting-book {} */

.btn-interting-book {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1A1A1A;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btn-interting-book:disabled {
  pointer-events: none;
}

.btn-interting-book:hover {
  color: #fff;
  background-color: #198754;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-interting-book:active {
  box-shadow: none;
  transform: translateY(0);
}

/* toasmessage */
.noti {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.811);
  padding: 5px 0;
  margin-top: 20px;
  width: 400px;
  transition: all linear 0.3s;
  position: fixed;
  top: 40px;
  right: 10px;
  border-color: #37bd45;
}

/* @keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 10px));
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
} */

.toast__icon,
.toast__close {
  padding: 0 16px;
}
.toast__body {
  flex-grow: 1;
}
.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.toast__msg {
  font-size: 14px;

  color: #888;
}
.toast__close {
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}
.toast__icon {
  font-size: 24px;
}